<div>
  <p>Hi,</p>
  <p>
    Follow <a href="<%= @reset_password_url %>">this link</a> to reset your Liquid password.
  </p>
  <p>Victor &amp; Cesar</p>
  <p>PS. If you ignore this message, your password will not be changed.</p>
</div>
